<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="mao.android_register_shortcuts">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Android_register_shortcuts"
            tools:targetApi="31">
        <activity
                android:name=".MainActivity4"
                android:exported="false" />
        <activity
                android:name=".MainActivity3"
                android:exported="false" />
        <activity
                android:name=".MainActivity2"
                android:exported="false" />
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- 指定快捷方式。在桌面上长按应用图标，就会弹出@xml/shortcuts所描述的快捷菜单 -->
            <meta-data
                    android:name="android.app.shortcuts"
                    android:resource="@xml/shortcuts" />


        </activity>
    </application>

</manifest>